@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
    --color-default: #242742;
    --color-error-text: #ff6155;
    --color-input-text-error-bg: #ffe7e6;

    --font-default-family: "Roboto", sans-serif;
}
